@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*
$secondary-color-dark: rgb(191, 255, 0);
$secondary-color-light: rgb(255, 92, 0);

$border-dark-100: rgb(0, 0, 0);
$border-dark-25: rgb(0, 0, 0, 0.25);

$transition: ease-in-out 0.2s;
$shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
*/

:root {
  --bg-color: rgb(25, 25, 29);
  --color-dark: rgb(25, 25, 29);
  --color-light: rgb(229, 229, 229);

  --border-dark-100: rgb(0, 0, 0);
  --border-dark-25: rgb(0, 0, 0, 0.25);

  --border-dark-100: rgb(229, 229, 229);
  --border-dark-25: rgb(229, 229, 229, 0.25);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: var(--color-light);
  background-color: var(--bg-color);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* Setup */
.setup-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container {
  margin: 10px 20px;
  text-align: center;
  min-width: 250px;
  justify-content: center;
}

.setup-container h1 {
  font-size: 1.5em;
  margin: 20px;
}

.setup-container li {
  width: 250px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid $border-dark-25;
  text-align: left;
  margin-bottom: 5px;
}

#playerUL li {
  height: 80px;
}

#teamUL li {
  height: 50px;
}

.textfield {
  -webkit-appearance: none;
  appearance: none;
  width: 215px;
  height: 30px;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 4px;
  border: 1px solid $border-dark-25;
  padding-left: 5px;
}

/* Player */
.slider {
  -webkit-appearance: none;
  width: 215px;
  height: 20px;
  border-radius: 10px;
  margin-top: 15px;
  background-color: var(--color-dark);
  border: 1px solid $border-dark-25;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-style: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $secondary-color-dark;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  border-style: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $secondary-color-dark;
  cursor: pointer;
}

/* Buttons */
.close {
  color: $border-dark-100;
  transition: $transition;
  float: right;
  left: 10px;
  bottom: 10px;
}

.close:hover {
  cursor: pointer;
  color: red;
}

#styleButton {
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--color-light);
  border: 2px solid var(--color-light);
  border-radius: 50%;
  padding: 10px;
  transition: $transition;
}

#styleButton:hover {
  cursor: pointer;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.button {
  color: $secondary-color-dark;
  border: 2px solid $secondary-color-dark;
  border-radius: 4px;
  padding: 0.4em;
  margin-bottom: 20px;
  transition: $transition;
}

.button:hover {
  cursor: pointer;
  color: var(--color-dark);
  background-color: $secondary-color-dark;
}

.start {
  font-size: 1.3em;
  margin: 2rem;
}

.card {
  box-shadow: $shadow;
}
