@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #eee;
  background-color: #19191b;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  margin-bottom: 1.5rem;
}

::placeholder {
  font-size: 17px;
}

.neumorphism {
  border-radius: 24px;
  background: #19191b;
  box-shadow: 5px 5px 9px #101012, -5px -5px 9px #222224;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* Setup */
.setup-container {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: center;
}

.container {
  margin: 10px 20px;
  text-align: center;
  min-width: 250px;
}

.setup-container h1 {
  font-size: 1.5em;
  margin: 1em;
}

.setup-container li {
  display: flex;
  flex-flow: row wrap;
  max-width: 250px;
  justify-content: start;
  padding: 0.8em 0;
  border-radius: 0.6em;
}

.textfield {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 200px;
  padding: 0.3em;
  background-color: #19191b;
  box-shadow: inset 2px 2px 4px #101012, inset -2px -2px 4px #222224;
  color: #eee;
  border-radius: 0.2em;
}

.slider {
  -webkit-appearance: none;
  width: 205px;
  padding: 0.1em;
  margin-top: 0.8em;
  height: 20px;
  border-radius: 15px;
  background: #19191b;
  box-shadow: inset 2px 2px 4px #101012, inset -2px -2px 4px #222224;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #bfff00;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #bfff00;
  cursor: pointer;
}

/* Player */
.close {
  position: relative;
  left: 6px;
  top: 1px;
  color: darkred;
  transition: ease-in-out 0.2s;
}

.close:hover {
  cursor: pointer;
  color: red;
}

/* Buttons */
.addButton {
  font-size: 1.2em;
}

.button {
  border-radius: 0.2em;
  background-color: #bfff00;
  padding: 0.5em;
  transition: ease-in-out 0.2s;
  color: #19191b;
  margin-bottom: 1em;
}

.button:hover {
  cursor: pointer;
  background-color: #719700;
}

.shadow {
  transition: ease-in-out 0.2s;
}

.start {
  font-size: 1.3em;
  margin: 2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}