@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$primary-color: rgb(191, 255, 0);
$transition: ease-in-out 0.2s;
$shadow: 0 0 10px rgba(0, 0, 0, 0.2);
//$hover-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 10px 10px 0 rgba(0, 0, 0, 0.5);
$hover-button: rgb(113, 151, 0);
$font-color-dark: #eee;
$btn-font-color-dark: rgb(25, 25, 27);
$background-color-dark: rgb(25, 25, 27);

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: $font-color-dark;
  background-color: $background-color-dark;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  margin-bottom: 1.5rem;
}

::placeholder {
  font-size: 17px;
}

.neumorphism {
  border-radius: 24px;
  background: #19191b;
  box-shadow: 5px 5px 9px #101012, -5px -5px 9px #222224;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* Setup */

.setup-container {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: center;
}

.container {
  margin: 10px 20px;
  text-align: center;
  min-width: 250px;
}

.setup-container h1 {
  font-size: 1.5em;
  margin: 1em;
}

.setup-container li {
  display: flex;
  flex-flow: row wrap;
  max-width: 250px;
  justify-content: start;
  padding: 0.8em 0;
  border-radius: 0.6em;
}

.textfield {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  padding: 0.3em;
  background-color: $background-color-dark;
  //box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.5);
  box-shadow: inset 2px 2px 4px #101012, inset -2px -2px 4px #222224;
  color: $font-color-dark;
  border-radius: 0.2em;
}

.slider {
  -webkit-appearance: none;
  width: 205px;
  padding: 0.1em;
  margin-top: 0.8em;
  height: 20px;
  border-radius: 15px;
  background: $background-color-dark;
  box-shadow: inset 2px 2px 4px #101012, inset -2px -2px 4px #222224;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $primary-color;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $primary-color;
  cursor: pointer;
}

/* Player */

.close {
  position: relative;
  left: 6px;
  top: 1px;
  color: darkred;
  transition: $transition;
}

.close:hover {
  cursor: pointer;
  color: red;
}

/* Buttons */

.addButton {
  font-size: 1.2em;
}

.button {
  border-radius: 0.2em;
  background-color: $primary-color;
  padding: 0.5em;
  transition: $transition;
  color: $btn-font-color-dark;
  margin-bottom: 1em;
}

.button:hover {
  cursor: pointer;
  background-color: $hover-button;
}

.shadow {
  transition: $transition;
}

.start {
  font-size: 1.3em;
  margin: 2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
