@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$primary-color: rgb(191, 255, 0);
$transition: ease-in-out 0.4s;
$shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
$hover-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 10px 10px 0 rgba(0, 0, 0, 0.5);
$font-color-dark: #eee;
$btn-font-color-dark: rgb(25, 25, 27);
$background-color-dark: rgb(25, 25, 27);

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: $font-color-dark;
  background-color: $background-color-dark;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  margin-bottom: 1.5rem;
}

::placeholder {
  color: $font-color-dark;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* Setup */

.setup-container {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: center;
}

.container {
  margin: 10px 20px;
  text-align: center;
  min-width: 230px;
}

.setup-container input {
  padding: 0.2em;
  background-color: $background-color-dark;
  box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.3);
  color: $font-color-dark;
  margin-right: 6px;
}

.setup-container h1 {
  font-size: 1.5em;
  margin: 1em;
}

/* Player */

.player {
  margin-bottom: 0.5em;
}

.close {
  position: relative;
  top: 6px;
}

.close:hover {
  cursor: pointer;
}

/* Buttons */

.addButton {
  margin-top: 1em;
  font-size: 1.2em;
}

.button {
  border-radius: 0.2em;
  background-color: $primary-color;
  padding: 0.5em;
  transition: $transition;
  color: $btn-font-color-dark;
}

.button:hover {
  cursor: pointer;
  box-shadow: $hover-shadow;
}

.shadow {
  transition: $transition;
}

.start {
  font-size: 1.3em;
  margin: 2rem;
}
