@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.content {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

#form-container {
}

#team-container {
}

.shadow {
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.card {
  height: 200px;
  width: 100px;
  border-radius: 5px;
}
